extends layout

block content

  div(class='container')  
    button.btn.btn-primary(type='button' id='buttonInplay') Inplay    
    button.btn.btn-secondary(type='button' id='buttonUpcoming') Upcoming
  
  div(class='buffer')
  each key in tournaments
   p(class='heading')= key[0].tournament
   div(class='container' id='divRender')  
    each match in key
     ul(id='matchlist')
     li= match.player1
     li= match.player2
     li= match.time  