extends layout

block content
  link(rel='stylesheet', href='/stylesheets/main.css')  
  img(src='../images/tennisexpress.jpg' , alt='tennis racket')
  div(class='container')  
    button.btn.btn-primary(type='button') Inplay    
    button.btn.btn-secondary(type='button') Upcoming
    
  each t in tournaments      
   ul
    li= t["tournament"] +  ' ' + t["player1"] +  ' vs ' + t["player2"] + ' ' + t["time"] 
     