extends layout

block content
  link(rel='stylesheet', href='/stylesheets/main.css')   
  
  div(class='container')  
    button.btn.btn-primary(type='button') Inplay    
    button.btn.btn-secondary(type='button' ) Upcoming
  
  div(class='buffer')
  each key in tournaments
   p(class='heading')= key[0].tournament
   div(class='container')  
    each match in key
     ul    
     li= match.player1
     li= match.player2
     li= match.time