doctype html
html
  head
    title= title    
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css')     
    link(rel='stylesheet', href='/stylesheets/main.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.7.0/moment.min.js')
    script(src='/javascripts/client.js')
  body
    img(rel="preload" src='../images/banner.jpg' )
    img(rel="preload" src='../images/upcoming.jpg' id='img_status' class='imgstatus')

    block content