
body {
    font-family: Verdana;
    font-size: 11px;
    color:white;
    background-color: black;
}

a {
    color: white;
    text-decoration: none !important;
}



ul {
    border: 1px solid grey;
    
}

li {
    font-family: unset;
    font-size: 16px;
    font-weight: 700;
    margin-top: 0px;
    width: 600px;
    margin-bottom: 10px;
    line-height: 10px;
    color: ghostwhite;
    background-color: black;
    list-style-type: none;
}

li:first-child {
    margin-top: 0;    
}

.home{
    background-color: black;
}
.img_status {
    width: 250px;
    height: 80px;    
    float:right;
}

.img_banner {
    height: 120px;
    width: 800px;
    margin-left: 0px;
    border: 1px solid black;
    margin-bottom: 10px;
    margin-top: 0px;
}

.lastupdate {
    color: white;
    font-size: 12px;
    font-family: Consolas;    
    margin-top: 10px;
    margin-left: 0px !important;
}

.p_status
{
    font-size:25px;
}

.floatleft {
    float: left;
}

.main {
    margin-top:10px;
   
}

p {
    font-family: Consolas;
    font-size: 10px;
}

div {
    font-family: Consolas;
    font-size: 14px;    
    background-color: black;    
}

.btn {
    margin-right: 10px;    
}

.container {
    margin-left: 70px !important;
    font-family: Arial, Helvetica, sans-serif;
}


.heading {
    color: yellow;
    font-size: 16px;
    font-weight: bold;
    margin-left: 90px !important;
    margin-bottom: 0px;
    font-family: 'Cascadia Code';
    text-align: left;    
    width:500px;
}

.odds {
    color: greenyellow;
    font-size: 14px;
    margin-left: 10px;
    font-family: 'Cascadia Code';    
}

.flag {
    margin-right: 3px;
    margin-left: 0px !important;
    max-height: 25px;
    max-width: 32px;
}

.player {
    color: white;
    margin-right: 5px;
    margin-left: 5px !important;
    font-family: 'Cascadia Code';
    font-size: 14px;
}

.timestamp {
    color: orange;
    font-size: 14px;
    font-family: 'Cascadia Code';
    margin-top: 10px;
}


.console {
    color: white;
    background-color: black;  
    font-family: 'Cascadia Code';
    margin-left: 90px !important;
    width:600px;
    height: 20px;
    margin-top:15px;
}

.buffer {
    margin: 10px;
    margin-left: 70px;
}

.btn {    
    border: 2px;
    border-color:black;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    height:30px;
}

.btn:hover {
    border: 2px solid red;
}

.imgstatus {
    max-width: 100%;
    height: auto;
    margin-left: 0px;
}

.rating {
    display: inline-block;
    font-size: 30px;
    color:yellow;
}


.tablediv {
    width: 100%;
    display: table;
}
.topdiv {
    display: table-row;
}

.leftdiv {
    width: 600px;
    display: table-cell;
}

.rightdiv {
    display: table-cell;
}

.blink_me {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}